<form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <app-input
    class="form__field_name"
    label="Nome:"
    formControlName="name"
  ></app-input>
  <app-input
    class="form__field_cpf"
    label="CPF:"
    formControlName="cpf"
    appCpfMask
  ></app-input>
  <app-input
    class="form__field_birth-date"
    label="Data Nascimento:"
    formControlName="birthDate"
    appDateMask
  ></app-input>
  <app-input
    class="form__field_monthly-income"
    label="Renda Mensal:"
    formControlName="monthlyIncome"
    appCurrencyMask
  ></app-input>
  <app-input
    class="form__field_email"
    label="E-mail:"
    formControlName="email"
    type="email"
  ></app-input>
  <app-input
    class="form__field_created-at"
    label="Data Cadastro:"
    formControlName="createdAt"
    appDateMask
  ></app-input>

  <div class="form__button-container">
    <app-button
      (click)="returnToCustomers()"
      name="secondary"
      class="form__button form__button--return"
      width="columms"
      type="button"
      >VOLTAR</app-button
    >

    <app-button
      name="primary"
      class="form__button form__button--save"
      width="columms"
      >SALVAR</app-button
    >
    <app-button
      (click)="onRemove()"
      name="primary"
      class="form__button form__button--remove"
      width="columms"
      type="button"
      [isDisabled]="isRemoveButtoDisable"
      >REMOVER</app-button
    >
  </div>
</form>
