.form-group {
  height: 48px;
  padding: 6px 16px 6px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--color-neutral-lightest);
  background-color: var(--input-background-color);
}

.form-group__label {
  height: 12px;
  display: block;
  padding: 0;
  margin: 0;
  color: var(--color-brand-primary-medium);
  background-color: inherit;
}

.form-group__input-container {
  position: relative;
  background-color: inherit;
  width: 100%;
}

.form-group__input {
  width: 100%;
  height: 18px;
  padding: 0px;
  box-sizing: border-box;
  background-color: inherit;
}

.form-group__alert-icon-container {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 0;
  height: 0;
}

.form-group__alert-icon {
  position: absolute;
  top: -16px;
  right: -8px;
  transform: translateY(-50%);
}

.form-group--disabled {
  background-color: var(--color-neutral-lightest);
  pointer-events: none;
}

.form-group--disabled > .form-group__input-container > .form-group__input {
  background: var(--color-neutral-lightest);
  border-color: var(--color-neutral-dark);
}

input:focus {
  border-color: transparent;
}

input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-neutral-dark);
}

input {
  border: none;
  outline: none;
  border-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

[data-tooltip] {
  --offset: 0.2rem;
  --carat-size: 8px;

  &[data-tooltip-anchor="bottom"]::before {
    left: -4px;
  }

  &[data-tooltip-anchor="bottom"]::after {
    left: -4px;
  }
}
