.table__action-container {
  display: flex;
  gap: 14px;
  min-width: max-content;
}

.table__action {
  cursor: pointer;
}

.table__action--remove {
  filter: invert(27%) sepia(98%) saturate(6090%) hue-rotate(340deg)
    brightness(92%) contrast(97%);
}

.table__action--remove:hover {
  filter: invert(18%) sepia(53%) saturate(4423%) hue-rotate(334deg)
    brightness(80%) contrast(104%);
}

.table__action--edit {
  filter: invert(28%) sepia(17%) saturate(5839%) hue-rotate(163deg)
    brightness(103%) contrast(87%);
}

.table__action--edit:hover {
  filter: invert(21%) sepia(23%) saturate(2561%) hue-rotate(154deg)
    brightness(95%) contrast(92%);
}
