<table class="table table-sortable paragraph-04">
  <thead>
    <tr>
      <th>NOME</th>
      <th>CPF</th>
      <th>DATA CADASTRO</th>
      <th>RENDA MESAL</th>
      <th style="width: 8%"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let customer of customers"
      (dblclick)="navigateToEdit(customer.id)"
    >
      <td>{{ customer.name }}</td>
      <td>{{ customer.cpf | cpf }}</td>
      <td>{{ customer.createdAt | date: "dd/MM/yyyy" }}</td>
      <td>{{ customer.monthlyIncome | number: "1.2-2" }}</td>
      <td>
        <div class="table__action-container">
          <i
            (click)="remove(customer.id)"
            class="table__action table__action--remove icon__trash-x--md"
          ></i>
          <i
            (click)="navigateToEdit(customer.id)"
            class="table__action table__action--edit icon__edit--md"
          ></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
