:root {
  /* Primary color */
  --color-brand-primary-darkest: #002c37;
  --color-brand-primary-dark: #0A4A5B;
  --color-brand-primary-medium: #00586F;
  --color-brand-primary-light: #11728B;
  --color-brand-primary-lightest: #7FABB7;
  --institucional-neutral-lightest: #EDEDED;


/* Neutral color */
  --color-neutral-lightest: #EDEDED;


  /* Element color */
  --input-background-color: #FFF;
  --input-disabled-background-color: var(--color-neutral-lightest);
}
