i {
  --color-icon: invert(28%) sepia(0%) saturate(0%) hue-rotate(166deg)
    brightness(108%) contrast(98%);
  -webkit-filter: var(--color-icon);
  filter: var(--color-icon);
}

i.icon__alert-circle--md {
  background: url("./../assets/icons/alert-circle.svg");
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  position: initial;
}

i.icon__alert-triangle--md {
  background: url("./../assets/icons/alert-triangle.svg");
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  position: initial;
}

i.icon__check-circle--md {
  background: url("./../assets/icons/check-circle.svg");
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  position: initial;
}

i.icon__help-circle--md {
  background: url("./../assets/icons/help-circle.svg");
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  position: initial;
}

i.icon__edit--md {
  background: url("./../assets/icons/edit.svg");
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  position: initial;
}

i.icon__trash-x--md {
  background: url("./../assets/icons/trash-x.svg");
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  position: initial;
}
