.header {
  position: relative;
  background-color: var(--color-brand-primary-darkest);
  color: var(--color-neutral-white);
  padding: 15px 0px;
  text-align: center;
  width: 100%;
  height: 55px;
}

.header__title-container {
  position: relative;
  display: inline-block;
}

.header__title {
  line-height: 24px;
}

.header__logo {
  position: absolute;
  height: 32px;
  width: 140px;
  border-top-left-radius: 86px;
  border-bottom-right-radius: 86px;
  background-color: var(--color-neutral-white);
  color: var(--color-brand-primary-medium);
  line-height: 30px;
  left: -150px;
  top: -2px;
}

@media only screen and (max-width: 600px) {
  .header__logo {
    display: none;
  }
}

.navbar {
  --hamburger-button-background-color: var(--color-neutral-white);
}

.main-container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


