.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--color-brand-primary-darkest);
  color: var(--color-neutral-white);
  padding: 15px 0px;
  text-align: center;
  width: 100%;
  height: 55px;
  overflow: hidden;
}

.header__title-container {
  position: relative;
  display: flex;
  overflow: hidden;
}

.header__title {
  line-height: 24px;
  overflow: hidden;
}

.header__logo {
  width: 130px;
  border-top-left-radius: 86px;
  border-bottom-right-radius: 86px;
  background-color: var(--color-neutral-white);
  color: var(--color-brand-primary-medium);
  line-height: 26px;
  display: inline-block;
  margin-right: 6px;
  display: flex;
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  .header__logo {
    display: none;
  }
}

.main-container {
  max-width: 1400px;
  padding-left: 22px;
  padding-right: 22px;
  margin-left: auto;
  margin-right: auto;
}
