button {
  background-color: transparent;
  border: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button.button {
  display: flex;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}

button.button.columms {
  width: 146px;
}

/* Primary */
button.button[name="primary"] {
  background-color: var(--color-brand-primary-dark);
  color: var(--color-neutral-white);
}

button.button[name="primary"]:hover {
  background-color: var(--color-brand-primary-light);
}

button.button[name="primary"]:focus {
  border: 2px solid var(--color-feedback-info-medium);
  background-color: var(--color-brand-primary-medium);
}

button.button[name="primary"]:active {
  border: none;
  background-color: var(--color-brand-primary-darkest);
}

/* Secondary */
button.button[name="secondary"] {
  background-color: var(--color-support-02-medium);
  color: var(--color-brand-primary-darkest);
}

button.button[name="secondary"]:hover {
  background-color: var(--color-support-02-dark);
}

button.button[name="secondary"]:focus {
  border: 2px solid var(--color-feedback-info-medium);
  background-color: var(--color-support-02-medium);
}

button.button[name="secondary"]:active {
  border: none;
  background-color: var(--color-support-02-dark);
}

button.button:disabled {
  pointer-events: none;
  background-color: var(--color-neutral-lightest);
  color: var(--color-neutral-medium);
}
