@import "styles/reset.css";
@import "styles/colors.css";
@import "styles/form.css";
@import "styles/icons.css";
@import "styles/table.css";
@import "styles/tooltip.css";
@import "styles/typography.css";

body {
  background-color: var(--color-neutral-white);
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 49.58%,
      rgba(237, 237, 237, 0.5) 99.89%
    )
    no-repeat;
  width: 100vw;
  height: 100vh;
}

.header-page {
  margin-top: 22px;
  margin-bottom: 22px;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  color: var(--color-brand-primary-dark);
}

.disable {
  pointer-events: none;
}

* {
  /* outline: 1px solid red; */
  overflow-x: hidden;
}
